@charset "UTF-8";

/* Обнуление основных элементов */
body,
h1,
h2,
h3,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    /* Убираем маркеры у списков */
}

a {
    text-decoration: none;
    /* Убираем подчеркивание */
}

* {
    box-sizing: border-box;
}

.center2 {
    margin-left: calc(50% - 250px);
    margin-right: calc(50% - 250px);
}

.center {
    margin-left: calc(50% - 384px);
    margin-right: calc(50% - 384px);
}